@font-face {
    font-family: Retro;
    src: url(/assets/DAYROM__.ttf);
}

body{
    font-family: Retro;
}

h1{
    text-align: center;
    padding-left: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li a{
    padding: 0,5em;
    padding-bottom: 0%;
    margin: 10px;
    text-decoration: none;
}

nav ul li img{
    background-color: #49955d;
    border-radius: 10px;
}

header{
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

p{
    font-size: 10px;
}       

body {
    background-color: #73c088;
}

header{ 
    width: 100%;
    display: flex;
}

image:nth-last-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

main section{
    margin-top: 1em;
    background-color: #49955d;
    border-radius: 1em;
    padding: 1em;
}

.fotos{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #49955d;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
footer{
    display: flex;
    background-color: #235d3a;
    font-size: 10px;
    list-style-type: none;
    text-decoration: none;
    color: #efefef;
}

footer ul{
    padding: 0
    
}

footer ul li{
    list-style: none;
}

label, input, select{
    width: 60%;
}

form{
    display: flex;
}
.spullen section{
    display: flex;
    flex-direction: row;
}
 
.spullen div{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 10px;
}

.spullen section:nth-of-type(1) {
flex-direction: column;
}
